/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	-o-tab-size: 4;
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
	display: list-item;
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.hidden {
	display: none;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.self-end {
	align-self: flex-end;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #f4f4f4;
	background-image: url('./img/bg.svg');
	font-family: 'Raleway', sans-serif;
}

span.welcome {
	display: inline-block;
	margin-right: 10px;
	justify-content: left;
	padding: 0;
}

.hidden {
	display: none;
}

header {
	background-color: white;
	width: 100%;
	margin: 0 auto;
	padding: 1rem 3rem;
	border-bottom: rgb(230, 230, 230) 0.1rem solid;
}

nav {
	display: flex;
	max-width: 1600px;
	margin: 0 auto;
	gap: 1rem;
	justify-content: flex-end;
	position: relative;
}

header .brand {
	position: absolute;
	left: 0;
	top: 0;
	width: 19rem;
	background-image: url(./img/logo.png);
	height: 3.5rem;
	background-size: contain;
	background-repeat: no-repeat;
}

header nav .actions {
	gap: 1rem;
}

nav a {
	text-decoration: none;
	color: #333;
}

nav a:hover {
	text-decoration: underline;
}

h2 {
	text-align: left;
}

h2.category-header {
	text-align: center;
}

.categories-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.categories-container a {
	text-decoration: none;
	color: #333;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 3px;
	transition: background-color 0.3s ease;
}

.categories-container a:hover {
	background-color: #f0f0f0;
}

.post {
	margin-bottom: 20px;
}
.post .post-text-container:not(.no-comments) {
	cursor: pointer;
}

.post .post-text-container:not(.no-comments) .amount-of-comments {
	text-decoration: underline;
}

.post .post-text-container:not(.no-comments) .amount-of-comments:hover {
	color: purple;
}

.header {
	text-align: left;
}

.post h3 {
	margin-bottom: 10px;
}

.post p {
	margin-bottom: 5px;
}

.post-details {
	display: flex;
	justify-content: left;
	align-items: baseline;
}

.post-details p {
	margin-right: 20px;
}

.post-buttons,
.comment-buttons {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.post-buttons form,
.comment-buttons form {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.post-buttons button,
.comment-buttons button {
	padding: 8px 16px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 10px;
	transition: background-color 0.3s ease;
}

.content-box {
	margin-bottom: 20px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 0.4rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-box h3 {
	margin-bottom: 10px;
}

.content-box p {
	margin-bottom: 5px;
}

.comment-container {
	margin-top: 20px;
	border-radius: 5px;
	padding: 10px;
}

.comment {
	background-color: #e8e8e8;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	margin-top: 10px;
}

.not-found {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	margin: 0;
}

.btn {
	display: block;
}

/* New post styles */

.container {
	width: 80%;
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: left;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 8px;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
select,
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

select {
	width: 100%;
}

#signup-gender {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url('../static/img/arrow-down.svg') no-repeat calc(100% - 0.6rem) center;
	background-size: 12px;
	padding-right: 20px;
}

input[type='submit'],
.subm-button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 3px;
	background-color: #bfbfbf;
	color: #000000;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type='submit']:hover,
button:hover {
	background-color: #f0f0f0;
}

input[type='checkbox'] {
	display: inline-block;
	margin-right: 5px;
}

label {
	display: inline-block;
	margin-right: 15px;
}

#catSelect {
	margin-bottom: 20px;
}

.app-div {
	display: flex;
	min-height: calc(100vh - 51px); /* 51px is the height of the header */
}

.sidebar {
	width: 250px;
	background-color: rgba(255, 255, 255, 0.45);
	padding: 10px;
	overflow-y: auto;
	order: 2;
	border-left: rgb(230, 230, 230) 0.1rem solid;
}

#sidebar .online-users > .user {
	cursor: pointer;
}

#sidebar .online-users > .user:hover {
	text-decoration: underline;
}

.main-content {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
}

#online-users {
	height: 50vh;
	display: flex;
	flex-direction: column;
}

.chatArea {
	height: 450px;
	width: 350px;
	position: fixed;
	bottom: 0;
	right: 250px;
	display: flex;
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 28px 0px;
	background-color: white;
	border-radius: 8px;
	flex-direction: column;
}

.chatArea.hidden {
	display: none;
}

.chat .message {
	width: calc(100% - 2rem);
	margin-bottom: 1rem;
	clear: both;
}

.chat .message.message-sent {
	text-align: right;
	float: right;
}

.chat .heading {
	display: flex;
	gap: 0.4rem;
	align-items: center;
}

.chat .message-received .heading {
	justify-content: flex-start;
	margin-bottom: 0.1rem;
}

.chat .message-sent .heading {
	justify-content: flex-end;
}

.chat .message-author {
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.8);
}

.chat .message-sent .message-author {
	order: 2;
}

.chat .message-time {
	font-size: 0.7rem;
	color: lightgrey;
}

.chat .message-content {
	color: #f9fbff;
	font-size: 1em;
	padding: 0.6rem;
	border-radius: 0.3rem;
}

.chat .message-received .message-content {
	background-color: #b2b2b2;
}

.chat .message-sent .message-content {
	background-color: #79c7c5;
}

.respond-container {
	display: flex;
}

.chatArea .chat {
	flex: 1;
	padding: 1rem;
	overflow: auto;
}

.respond-container textarea {
	resize: none;
	height: 52px;
	margin-bottom: 0;
	font-family: inherit;
	font-size: 1rem;
}

.chat-header {
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset,
		rgba(255, 255, 255, 0.5) 0px 2px 1px -1px inset;
	background: #f9fbff;
	padding: 0 1.1rem;
}

.chat-header .username {
	flex: 1;
}

.chat-header .close-chat {
	cursor: pointer;
	background-image: url(../static/img/close.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 15px;
	width: 35px;
	height: 35px;
	opacity: 0.3;
	position: relative;
	top: 7px;
}

.chat-header .close-chat:hover {
	opacity: 0.6;
}

.sendButton {
	cursor: pointer;
}
