<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/sign_up.css">
    <link rel="stylesheet" href="/static/GG_buttons.css">
    <form action="/sign-up">
        <div class="container">
            <h1>Sign Up</h1>
            <p>{{.}}</p>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>
</head>
<body>
    <div class="oauth-buttons">
        <a href="/google-sign-up" class="oauth-button google">
            <img src="/static/img/google.png" alt="Google Icon"> Continue with Google
        </a>
        <a href="/github-sign-up" class="oauth-button github">
            <img src="/static/img/github.png" alt="GitHub Icon"> Continue with GitHub
        </a>
    </div>
</body>
</html>